{% extends "web/base.html" %}

{% block title %} Listado {% endblock %}
{% block section_title %} Listado de tareas pendientes {% endblock %}

{% block extra_css %}{% endblock %}

{% block main %}
    {% if usuario_activo %}
        <p style="background-color: Green">Activo</p>
    {% else %}
        <p style="background-color: Red">Inactivo</p>
    {% endif %}
    <section>
        {% for tarea in listado_tareas %}
            <article>
                <p>{{tarea.titulo}}</p>
                <p>{{tarea.descripcion}}</p>
                <p>{{tarea.categoria}}</p>
                <p>{{tarea.fecha_fin}}</p>
            </article>

        {% empty %}
            <article>
                No hay tareas cargadas.
            </article>
        {% endfor %}

    </section>
{% endblock %}